.instruction-list {
  margin: 0;
  padding-left: 24px;

  &-item-with-tooltip {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.info-icon {
  display: flex;
  align-items: center;
}

.tooltip-content {
  background-color: #374146;
  border-radius: 3px;
  color: var(--text-default, #ffffff);
  font-size: 12px;
  font-weight: 400;
  padding: 16px 24px;
}

.step-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;

  .waiting-label {
    color: var(--text-default, #ffffff);
    font-weight: 700;
  }
}